<launch>

  <node pkg="operator_node" name="mouse" type="mouse_input_node.py"/>

  <node pkg="operator_node" name="mouse_scale" type="scale_node.py">
    <remap from="joy" to="mouse/joy"/>
    <param name="axes" type="str" value="0 1"/>
    <param name="scale" type="str" value="1.0"/>
  </node>

</launch>
