<launch>

  <!-- Start joy node (comment if not required) -->
  <node pkg="joy" name="joy_node" type="joy_node">

    <remap from="joy" to="operator_signal/raw"/>

    <!-- Linux joystick device from which to read joystick events -->
    <param name="dev" type="string" value="/dev/input/js0" />

    <!-- Rate in Hz at which a joystick that has a non-changing state
	 will resend the previously sent message -->
    <param name="autorepeat_rate" type="double" value="100"/>

  </node>

  <!-- Start operator_node -->
  <node pkg="operator_node" name="operator_node" type="operator_node">

    <!-- Maximum velocity in 2D plane [m/s] -->
    <param name="max_velocity" type="double" value="0.1"/>

  </node>

</launch>
