<launch>

  <node pkg="joy" name="joy_node" type="joy_node">
    <remap from="joy" to="joy/raw"/>
    <param name="dev" type="string" value="/dev/input/js0" />
    <param name="autorepeat_rate" type="double" value="200"/>
    <param name="deadzone" type="double" value="0"/>

  </node>

  <node pkg="operator_node"
        name="ensure_joy_states_output_at_given_hz"
        type="joy_remap">
    <remap from="joy_in" to="joy/raw"/>
    <remap from="joy_out" to="joy/remapped/raw"/>
    <param name="hz" type="int" value="100"/>
  </node>

  <node pkg="operator_node"
        name="convert_operator_signal_to_velocity"
        type="operator_node_two_axis"
        output="screen">
    <remap from="raw" to="joy/remapped/raw"/>
    <remap from="normalized" to="operator/signal/normalized"/>
    <remap from="signal" to="operator/signal"/>
    <param name="max_velocity" type="double" value="0.08"/>
    <param name="flip_axes" type="bool" value="true"/>
    <!-- <param name="dr_x1" type="double" value="-1.0"/> -->
  </node>

</launch>
