<launch>

  <!-- Start joy node (comment if not required) -->
  <node pkg="joy" name="joy_node" type="joy_node">

    <remap from="joy" to="joy/raw"/>

    <!-- Linux joystick device from which to read joystick events -->
    <param name="dev" type="string" value="/dev/input/js0" />

    <!-- Rate in Hz at which a joystick that has a non-changing state will
         resend the previously sent message -->
    <param name="autorepeat_rate" type="double" value="100"/>

    <!-- Deadzone (set to zero, Linux does it's own deadzoning under the hood-->
    <param name="deadzone" type="double" value="0"/>

  </node>

  <!-- Joy re-mapper (avoid coalesced messages, *note* button signals are not
       reliable from this topic, use raw signals for buttons)
       -->
  <node pkg="operator_node" name="joy_remap" type="joy_remap">
    <remap from="joy_in" to="joy/raw"/>
    <remap from="joy_out" to="joy/remapped/raw"/>
  </node>

  <!-- Start operator_node -->
  <node pkg="operator_node"
        name="operator_node"
        type="operator_node_two_axis"
        output="screen">

    <remap from="raw" to="joy/remapped/raw"/>
    <remap from="normalized" to="operator/signal/normalized"/>
    <remap from="signal" to="operator/signal"/>

    <!-- Maximum velocity in 2D plane [m/s] (required) -->
    <param name="max_velocity" type="double" value="0.08"/>

    <!-- Axes direction (optional) -->
    <param name="flip_axes" type="bool" value="true"/>
    <param name="dr_x1" type="double" value="-1.0"/>

  </node>

</launch>
