<launch>

  <node pkg="keyboard" name="keyboard" type="keyboard"/>

  <node pkg="operator_node" name="keyboard_to_joy_mapper_node" type="keyboard_to_joy_mapper_node.py" output="screen">
    <rosparam param="positive_axes">[KEY_UP, KEY_RIGHT]</rosparam>
    <rosparam param="negative_axes">[KEY_DOWN, KEY_LEFT]</rosparam>
    <rosparam param="buttons">[KEY_g]</rosparam>
    <param name="frequency" type="int" value="120"/>
  </node>

</launch>
