<launch>

  <node pkg="joy" name="joy_node" type="joy_node">
    <remap from="joy" to="joy/raw"/>
    <param name="dev" type="string" value="/dev/input/js0" />
    <param name="autorepeat_rate" type="double" value="200"/>
    <param name="deadzone" type="double" value="0"/>

  </node>

  <node pkg="operator_node"
        name="ensure_joy_states_output_at_given_hz"
        type="joy_remap">
    <remap from="joy_in" to="joy/raw"/>
    <remap from="joy_out" to="joy"/>
    <param name="hz" type="int" value="100"/>
  </node>

  <node pkg="operator_node" name="operator_node" type="operator_node_method_two.py" output="screen">
    <param name="nu" type="double" value="0.04"/>
    <rosparam param="joy_to_h_map">[0, 1]</rosparam>
    <rosparam param="flip">[0, 1]</rosparam>
  </node>

</launch>
